body {
    margin: 0;
}
body::-webkit-scrollbar {
    width: 1vw;
}
body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(45, 7, 117);
    border-radius: 0.3vw;
    height: 8.3vw;
}

#voltar {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: cursive;
    font-size: 1.5vw; 
    position: absolute;
    top: 50%;
    display: block;
    transform: translate(1vw, -50%);
    cursor: pointer;
}
#avancar {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: cursive;
    font-size: 1.5vw; 
    position: absolute;
    top: 50%;
    display: block;
    transform: translate(90vw, -50%);
    cursor: pointer;
}
header {
    position: relative;
    height: 7vw;
    background-color: #000000;
    box-shadow: 0 0 1vw 0 black;;
}
#logo1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15vw;
    cursor: pointer;
}

body {
    background-size: 60%;
    margin: 0;
    background-color: rgb(110, 110, 110);
}

footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: static;
    padding: 2vw 0 2vw 0;
    bottom: 0%;
}

footer .logotipo, #copy {
    width: 17vw;
    margin: 0;
}

#rodape {
    font-size: 1.3vw;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

header .logotipo, .logotipo img {
    width: 15vw;
    display: inline-block;
    height: 100%;
}

#copy {
    color: rgb(99, 99, 99);
    position: relative;
    margin-left: 3vw;
}

footer {
    margin-top: 3vw;
}

#tema {
    position: absolute;
    top: 36%;
    right: 19%;
    font-size: 2.5vw;
    cursor: pointer;
}   
.temaCor {
    color: rgb(255, 255, 255);
}

#buscaInput {
    background-color: black;
    color: white;
    border: none;
    border-radius: 1vw;
}

#buscaInput::placeholder {
    color: white;
}

#botaoForm {
    background-color: rgb(12, 240, 12);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 1vw;
    padding: 1vw;
    cursor: pointer;
}

#promocoes {
    position: relative;
    overflow: hidden;
    height: 7vh;
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    border: none;
    padding: 1vw;
}

#textoPromo1 {
    position: absolute;
    white-space: nowrap;
    display: inline-block;
    left: 0;
}
#textoPromo2 {
    position: absolute;
    white-space: nowrap;
    display: inline-block;
    right: 0vw;
}

#carrossel {
    position: absolute;
    overflow: hidden;
    height: 7vh;
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    border: none;
    width: 175vw;
}